<div ng-class="{ open: opened, dropup: dropup }"
  class="btn-group bootstrap-select {{ssClass}}">
    <button ng-click="toggle($event)"
      id="{{ssId}}" ng-disabled="ngDisabled"
      type="button" class="btn dropdown-toggle btn-default">
        <span data-ng-show="!value" class="filter-option pull-left">{{placeholder}}</span>
        <span data-ng-show="value" class="filter-option pull-left">{{title}}</span>
        &nbsp;<span class="caret"></span>
    </button>

    <div ng-show="opened" class="dropdown-menu">
        <div class="bs-searchbox" ng-show="length >= 10">
            <input ng-model="filter" ng-click="noop($event)" type="text"
              class="input-block-level form-control" autocomplete="off" />
        </div>
        <ul vs-repeat vs-options="{latch: true}" vs-excess="20" ng-show="opened" class="dropdown-menu inner"
          style="display: block; overflow-y: auto; min-height: 0px;max-height:200px;position: relative;" >
            {{ select(selected, (selected >= 0 && index === -1)) }}
            <li ng-repeat="item in items | filter: filter"
              ng-class="{ active: (index == startIndex+$index) }" style="position: absolute; width: 100%;">
                {{ select(startIndex+$index, (index === -1 && item[key] == value)) }}
                <a ng-click="select(startIndex+$index)">{{item[content]}}</a>
            </li>
        </ul>
    </div>
</div>